@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
	font-family: 'Uniform Rounded';
	src: url('/styles/fonts/UniformRoundedMedium') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
} */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@450;600;700&family=Urbanist:wght@100;200;300;400;500;600;700;800&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

.h-device {
	height: 100vh;
	height: 100dvh;
}

html {
	/*  */
	@apply font-rubik;
	font-weight: 450;
}

::selection {
	color: #ffd56b;
	background: #121923;
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.1em 0 0.25em;
	vertical-align: -0.1em;
	display: inline-block;
	row-gap: 4px;
}

img.emoji ~ img.emoji {
	margin: 0 0.125em 0 0.1em;
}

img.emoji:not(:last-of-type) {
	margin: 0 0.125em 0 0.1em;
}
