@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;450;500;600;700&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

.h-device {
	height: 100vh;
	height: 100dvh;
}

html {
	font-size: 1em;
}

body {
	font-family: 'Rubik', sans-serif;
	font-weight: 450;
}

.icon {
	position: relative;
}

.icon::before {
	position: absolute;
	content: '';
	height: 2.25rem;
	width: 2.25rem;
	background-color: currentColor;
	opacity: 0;
	border-radius: calc(2.25rem / 4);
	transform: translateX(-18%) scale(0);
	transition: transform 0.175s ease-in-out;
}

.icon:hover::before {
	opacity: 0.12;
	transform: translateX(-18%) scale(1);
}

img.emoji {
	height: 1em;
	width: 1em;
	margin: 0 0.1em 0 0.25em;
	vertical-align: -0.1em;
	display: inline-block;
	row-gap: 4px;
}

img.emoji ~ img.emoji {
	margin: 0 0.125em 0 0.1em;
}

img.emoji:not(:last-of-type) {
	margin: 0 0.125em 0 0.1em;
}
